.sobrenos {
    margin: 2rem 4rem;
    text-align: center;
}

.titulo {
    padding: 0.5rem 0;
    font-size: 36px;
    font-weight: 600;
    font-style: italic;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    flex: 1;
    gap: 136px;
    margin: 4rem 4rem;
}

.cards-card{
    padding: 20px 10px 10px 10px;
    text-align: center;
    height: 340px;
    width: 250px;
    border-radius: 1rem;
    border: 2px solid #fff;
}

.card-img{
    width: 200px;
    height: 190px;
}

.card-botao-texto{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
}

.card__botao{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0.5em 4.7em;
}


.link__baixar{
    text-decoration: none;
    font-family: var(--fonte-principal);
    color: var(--branco);
    text-transform: uppercase;
    padding: 0.5rem;
    border: 5px solid var(--rosa-botao);
    border-radius: 8px;
    background-color: var(--rosa-botao);
}

.nome__explicacao{
    margin: 10rem 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img__skylanome{
    margin: 10rem 0 4rem 0;
    width: 800px;
    height: 600px;
}

.texto {
    font-size: 18px;
}


.conteudo__nincho{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10rem 0;
}

.texto__nincho {
    margin: 0 1rem;
}

.conteudo__textonincho {
    margin: 0 0 1rem 0;
    text-align: left;
}
.nincho {
    margin: 4rem;
    display: flex;
    flex-direction: row;
}

.rodapé {
    background: var(--cor-de-fundo-rdp);
    text-align: center;
}


.rodapé .container {
    padding: 3rem;
}

.rodapé__titulo {
    font-size: 36px;
    font-weight: 600;
}

.rodapé__vagas {
    font-size: 20px;
    color: var(--cinza);
    padding: 1em 0 2em 0;
}

.rodapé__email {
    padding: 0.9em 10em 0.9em 1em;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
}

.rodape__botao {
    padding: 1em;
    background-color: var(--rosa-botao);
    border: 1px solid var(--rosa-botao);
    border-radius: 10px;
}

.rodape__cadastrar{
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
}

.rodapé__direitos {
    color: #98A2B3;
    padding: 2em 0 0 0;
}